startup_message off
shell -$SHELL
defscrollback 10000
autodetach on
vbell on
vbell_msg "   Wuff  ----  Wuff!!  "
term screen-256color
mousetrack on
defdynamictitle off

escape ^B^B

bind c screen -t ""
bind '"' split
bind % split -v
bind x remove
bind & kill
bind d detach

bind n next
bind p prev
bind l other
bind 0 select 0
bind 1 select 1
bind 2 select 2
bind 3 select 3
bind 4 select 4
bind 5 select 5
bind 6 select 6
bind 7 select 7
bind 8 select 8
bind 9 select 9
bind w windowlist -b

bind o focus
bind \; other

bind -k kl focus left
bind -k kr focus right
bind -k ku focus up
bind -k kd focus down

bind h focus left
bind j focus down
bind k focus up
bind l focus right

bind ^k resize +1
bind ^j resize -1
bind ^h resize -h -1
bind ^l resize -h +1

bindkey "^[[1;5A" resize +1
bindkey "^[[1;5B" resize -1
bindkey "^[[1;5D" resize -h -1
bindkey "^[[1;5C" resize -h +1

bind [ copy
bind ] paste .
bind Escape copy
bindkey -k kP copy

bind s windowlist -b
bind r source $HOME/.screenrc
bind : command
bind ? help

bind , title
bind z only
bind Space layout next
bind t time

hardstatus on
hardstatus alwayslastline
hardstatus string '%{= kG}[ %{R}%H %{g}][ %{Y}%S %{g}][%= %{= kw}%-w%{= Kr}[%n %t]%{= kw}%+w%= %{g}][%{B} %m-%d %{W}%c %{g}]'

markkeys "h=^B:l=^F:$=^E:^U=^Z:^D=^V"

defutf8 on
defmonitor on
defencoding utf8
encoding utf8
